:root {
  /* --background: #f5f5f5; */
  --background: #04081d;
  --half-background: #04081dd0;
  --text: #f5f5f5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace, sans-serif;
  /* height: 300vh; */
  background: var(--background);
  color: var(--text);
  height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background: transparent;
  z-index: 100;
  /* border-bottom: 1px solid deeppink; */
}

#nav-name {
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-top: 3rem;
  filter: drop-shadow(1px 1px 0 var(--background));
  transition: all 0.2s;
  transition: filter 1s;
  z-index: 50;
}

#nav-name::before {
  content: '';
  position: absolute;
  top: -25%;
  left: -10%;
  /* transform: translateX(-50%); */
  width: 3%;
  height: 100%;
  background: var(--text);
}

#nav-name::after {
  content: '';
  position: absolute;
  top: -10%;
  left: -35%;
  /* transform: translateX(50%); */
  width: 50%;
  height: 3%;
  background: var(--text);
}

#nav-name:hover {
  cursor: crosshair;
  filter: drop-shadow(0.1rem 0px 0px var(--background))
          drop-shadow(0.2rem 0px 0px var(--background))
          drop-shadow(0.3rem 0px 0px var(--background))
          drop-shadow(0.4rem 0px 0px var(--background))
          drop-shadow(0.5rem 0px 0px var(--background))
          drop-shadow(0.6rem 0px 0px var(--background))
  ;
  transition: filter 1s linear;
}

#content-container {
  width: 100%;
  height: 76vh;
}

#content-spacer {
  height: 12vh;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  /* background: var(--half-background); */
  /* padding: 2rem 0; */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: scroll;
  /* background: var(--half-background); */
  padding: 2rem 1rem;
}

.content section {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: start;
  align-items: center; */
  width: 100%;
  /* height: 100%; */
  padding: 1rem;
  padding-top: 1.5rem;
  border: 2px solid var(--background);
  margin-bottom: 2rem;
  background-color: var(--half-background);
}

.content h3 {
  position: absolute;
  top: -1rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-shadow: 3px 3px 0px var(--background);
  /* padding: 0.5rem 0; */
  /* text-align: center; */
}

.content p {
  line-height: 1.3;
  /* padding: 1rem; */
  /* text-align: center; */
}

.links {
  display: block;
  text-decoration: none;
  color: var(--text);
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
  transition: all 0.2s;
}

.links:hover {
  letter-spacing: 0.2rem;
}

#nav-btns {
  position: fixed;
  bottom: 0;
  height: 24vh;
  /* box-shadow: 0 -1rem 2rem var(--background); */
}

.content-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 100vw;
  overflow: hidden;
  background: var(--half-background);
  border-top: 1px solid var(--background);
  transition: all 0.2s;
}

.content-btn h2 {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  /* letter-spacing: 0.25rem; */
  padding: 0.5rem;
  /* height: 100%; */
  width: 100%;
  transition: all 0.2s;
}

.active-btn {
  background: var(--text);
  color: var(--background);
  letter-spacing: 0.2rem;
}

.content-btn h2::after {
  content: '^';
  position: absolute;
  top: 50%;
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  font-size: 1.25rem;
  transform: translateY(-50%) rotate(180deg);
  padding: 2px;
}

.active-btn h2::after {
  transform: translateY(-50%);
}

#first-content {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  margin: unset;
  padding: unset;
  border: unset;
  z-index: -1;
}

#first-content video {
  height: 100vh;
  width: auto;
}

/* #second-content {
  line-height: 2rem;
} */

#pistola {
  display: none;
  position: fixed;
  /* top: 50%; */
  bottom: -8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 15rem;
  pointer-events: none;
}

.pistol {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#pistol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

#frame {
  width: 100%;
  height: 60%;
  background-image: url('images/cz_frame.png');
}

#slide {
  width: 92%;
  height: 10%;
  transform: rotate(-.66deg) translateY(1px);
  background-image: url('images/cz_slide.png');
}

#holster {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: #000;
}

#bullet {
  position: absolute;
  top: 3rem;
  left: 2rem;
  z-index: -1;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('images/bullet.png');
}

@media (min-width: 900px) {

  #first-content video {
    width: 100vw;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .content-btn {
    cursor: pointer;
  }

  .content-btn h2 {
    width: 50%;
  }

  .content-btn:hover h2 {
    letter-spacing: 0.2rem;
  }

  .content section {
    width: 50%;
  }
}